<header>
    <div class="main-header-container">
        <div class="main-header container" style="padding-top: 15px; padding-bottom: 15px;">
            <h1>
                <a class="main-logo" href="/">
                    {% load static %}
                    <img src="{% static "img/header.png" %}" alt="Avatar" style="width:100px;">

                    <span class="main-logo-text" style="font-size: 40px; padding-left: 10px;">
                        Receitas da Rob
                    </span>
                </a>
            </h1>
        </div>
    </div>
</header>